{% extends 'base.html.twig' %}

{% block title %}Mes avis{% endblock %}
{% block body %}
<h1 class="text-center py-3">Gestion comments</h1>

    <table class="table table-secondary ">
        <thead>
        <tr>
            <th>comments</th>
             <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
        <tr>
        <td>{{ comment.content }}</td>
        <td>
         <a href="{{ path('edit_comment') }}" class="btn btn-info">modifier</a>
        {# <a href="{{ path('delet_comment', {'id': comment.id}) }}" class="btn btn-danger">Supprimer</a> #} #}
        </td>
        </tr>
        {% endfor %}
         </tbody>
</table>
{% endblock %}