{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe de {{ app.user.nickname }}{% endblock %}

{% block body %}
	<div class="container col-3 ">
               
                {% for type, messages in app.flashes  %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type}}  text-center">
                       {{ message }}
                        </div>{% endfor %}
                {% endfor %}
                </div>
		<div class="col-xs4">
			<h1>Modification du mot de passe de {{ app.user.nickname }}</h1>
            <form method="post ">
                <div class="form-field d-flex justify-content-center">
                    <label for="pass">Mot de passe</label>
                    <input type="password" id="pass" name="pass" class="form-control">
                </div>
                <div class="form-field d-flex justify-content-center">
                    <label for="pass2">Confirmer le mot de passe</label>
                    <input type="password" id="pass2" name="pass2" class="form-control">
                </div>
                <button type="submit" class="button">Valider</button>
            
            </form>
		</div>
        
	</div>
{% endblock %}
