{% extends 'base.html.twig' %}

{% block title %}Réinstallation de mot de pass{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Réinstallation de mot de pass</h1>

    {{ form_start(requestPassForm) }}
        {{ form_row(requestPassForm.email) }}
        <div>
            <small>
                Entrez votre adresse e-mail et nous vous enverrons un
                 lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(requestPassForm) }}
{% endblock %}
