{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <h1>Réinstallation de mot de pass</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.password) }}
        <button class="btn btn-primary">Réinstialiser mot de pass</button>
    {{ form_end(resetForm) }}
{% endblock %}
