
  @import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Alkatra', cursive;
    color: #000;
   
  }

   
body{
 background-color: #bcc1cb;
  text-decoration: none;
  overflow-x:hidden; 
  height: 100%;
  list-style: none;
 
}
   /* body a{
  text-decoration: none;
}
body ul li {
  list-style-type: none;
}  */
h1,h2,h3,h4 {
  color: #000;
}
/****************************Navbar start***********************************/

.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  transition: all 0.3s ease;
}
.navbar .navbar-brand a img {
  width: 100px;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem 2rem;
  list-style-type: none;
}
.navbar ul li a{
  display: flex;
  align-items: center;
  color: #000; 
  font-size: 1.4rem;
  
  transition: all 0.3s ease;
  text-decoration: none;
}
.navbar ul li a img {
  width: 35px;
  margin-right: 0.5rem;
}
.navbar ul li a:hover,
.navbar .active-link {
  color: #4f84cf;
  text-decoration: none;
}

/* Dropdown style */
.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content,
.about-dropdown-content {
  display: none;
  position: absolute;
  top: 2.5rem;
  background-color: #fff;
  min-width: 120px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.about-dropdown-content {
  right: 0;
}

.dropdown-content a,
.about-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover,
.about-dropdown-content a:hover {
  background-color: #eee;
  text-decoration: none;
}

.dropdown:hover .dropdown-content,
.dropdown:hover .about-dropdown-content {
  display: block;
}

/* toggle btn */
.navbar .navbar-outer-list .toggle-btn {
  display: none;
  cursor: pointer;
}
.container-login ul li a{
  display: flex;
  flex-direction: row;

}


/****************************Navbar end***********************************/

.home img{
  background-size: cover;
  height: 40rem;
  width: 100%;
  

}
.button ,input[type="submit"] {
  background-color: #219EE2;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: grid;
    text-align: center;
    width: 10vw;
    height: 7vh;
    place-content: center;
   margin:auto;
    padding: 20px 10px;
  font-size: 20px;
  position: relative;
  text-decoration: none;
    border-top-left-radius: 40px ;
      border-bottom-right-radius: 40px ;
      letter-spacing : 1px;
  } 
  .container-login .button  {
    text-decoration: none;
    color:white;
  }
/***********************************Navbar end*************************************/
/* Container */
/* .container {
  margin-top: 6rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}
.container .content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  background-color: #eee;
  height: 60vh;
} */ 

/* Container

/************************** Start Of Profile Style ************************/
.profile-info {
  width: 90%;
  margin: 2rem auto;
  padding: 8% 4%;
  border: 1px solid #eee;
  border-radius: 6px;
}
.profile-info > div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2rem;
}
.profile-info > div p {
  display: flex;
  align-items: start;
}
.profile-info > div p:first-child {
  flex: 0 1 100px;
  color: #4f84cf;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.profile-info > div p:last-child {
  max-width: 80%;
  flex: 2 1 300px;
}

/* ******************************End Of Profile Style**************************/

/************************cards section start**************************/
.container-cards  {
  width: 95%;
  margin: 70px auto;
  border-radius: 10px;
  /* background-color:  #c4d5df; */
  opacity: 0.9;
 
  }
  .card-category{
  /* margin:2px  ; */
  background: #F8F9FA;
  border: 2px solid #ccc;
  margin-bottom: 50px;
  }
  .coloriage-img{
    height:200px;
    width: 200px;
  }
  .coloriage-img::before{
    content:'x';
  }

  .heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  }
  .heading h1{
    color: black;
  }
  
   .row {
  justify-content: space-around;
}
  
  .card  {
  margin:2px  ;
  width:25vw;
  background: #b4d0eb;
  border: 2px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  
    
  }
  

  .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  text-align: center;
  
    
  }
  
  .image img{
    width: 20rem;
    display: grid;
    place-content: center;
}
 
  .card:hover  {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  
  }
  /*cards section end*/
  

/*inscription section*/

 .container-abonner{
 width: 100%;

 }
 .row-abonner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12rem;
    
}

.write-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  

}
.write-section p {
  font-size: 20px;
} 

/*fun section start*/

.fun-section{
  margin-top: 5vh;
  margin-bottom: 20px;
}
  
.container-fun{
  width: 95%;
  /* height: 90vh; */
  margin-top: 20px;
  background-color: #F6F5F5;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #F1E9D2;
   
}
#card1{
  background-color: #FD4D40;
}
#card2{
 background-color:  #FDB62F;
}
#card3{
  background-color:#16C3B0;
}
.card-body{
  display: flex;
  align-content:center;
  
  flex-direction: column;
} 
.title-fun{
  margin-top: 8vh;
}
.img-wrap img  {
  width: 11vw;
  padding-top: 40px;
}
.package{
  margin-bottom:60px ;
  margin-top: 10vh;
  height: 50vh;
  width:20vw ;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  

}




.button:hover,
.button:focus {
  opacity: 0.9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: 0.1s ease;
}

.package:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
/*************************contact section start*************************/


.sec1{
  margin-top: 15vh;
  margin-bottom: 15vh;
  
  height:50vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.sec1 h1{
  position: relative;
  z-index: 3;
} 
.content .sec1 a   {
  text-decoration: none;
}

.content{
  z-index: 3;
}
.sec1::before{
  content: "";
  position:absolute;
  height: 70vh;
  width: 100%;
  background-color: #219EE2;
  opacity: 0.5;
  z-index: 2;
  border-radius: 0% 0% 90% 90%;
  transform: scaleX(1.2);
}
.sec1::after{
  content: "";
  position:absolute;
  height: 70vh;
  width: 80%;
  background-color:  #219EE2;
  z-index: 1;
  opacity: 0.4;
  border-radius:  0% 0% 0% 0% ;
  transform: scaleX(1.7);
}
.sec1 .image-contact {
  width: 8rem;
  height: 50vh;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  
 }
 .sec2{
  height:30vh;
 
 }

 /*****************************contact section end************/


 /***************************téstimonial section start************/
 .heading {
  text-align: center;
  color: black;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
  z-index: 999;
}
/*-----Testimonial-------*/

/* .testimonial {
  min-height: 375px;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ddd;
}
#testimonial4 .carousel-inner .item {
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators {
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li {
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #ffffff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active {
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  margin: 2px 3px;
  background-color: #9dd3af;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar {
  height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb {
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial4_control_button .carousel-control {
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3, 1, 0, 1);
  transition: all 0.6s cubic-bezier(0.3, 1, 0, 1);
}
.testimonial4_control_button .carousel-control.left {
  left: 7%;
  top: 50%;
  right: auto;
}
.testimonial4_control_button .carousel-control.right {
  right: 7%;
  top: 50%;
  left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover {
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}

.testimonial4_header {
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  margin: 30px auto;
  text-align: center;
  position: relative;
}
.testimonial4_header h4 {
  font-size: 30px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.testimonial4_slide {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}

.testimonial4_slide p {
  font-size: 20px;
  line-height: 1.4;
  margin: 40px 0 20px 0;
}
.testimonial4_slide h4 {
  font-size: 22px;
}

.testimonial .carousel {
  padding-bottom: 50px;
}
.testimonial .carousel-control-next-icon,
.testimonial .carousel-control-prev-icon {
  width: 35px;
  height: 35px;
}
 
**************************téstimonial section end*********** */

/* Start Of Testimonials Style */
.title {
  margin-bottom: 2rem;
  width: fit-content;
  margin: auto;
}
.title::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #4f84cf;
  margin: 0.5rem auto;
}
.testimonial {
  padding: 2rem 1rem;
  border: 1px solid #eee;
  border-radius: 4px;
  width: 90%;
  margin: 1rem auto;
}
.testimonial .testimonial-info h4 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #4f84cf;
}
/* End Of Testimonials Style */

.container-methode{
  width: 70%;
  
  
}
.container-methode p{
font-size: 1.5rem;
}
.fields{
 
  display: flex;
  flex-direction: column;
  align-items: center;

}
.input{
  padding:7px;
  border-radius: 4px;
}
#subject{
  height:250px;
  width: 200px;
  border-radius: 4px;
}
  /* input[type="submit"]{
    margin-top: 20px;
  } */
 .pdf-container{
  width: 40vw;
  height: 25vh;
  background-color: #AAA;
 }


/***********************footer start*****************/
.footer {
  position: relative;
  width: 100%;
  background:#219EE2;
  min-height: 110px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-8px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}
/**********************footer end**********************************/


/**********************inscription form start****************** */


.container-inscription {
  position: relative;
  margin: 5% auto;
  width: 30vw;
  height: 80vh;
  background: #FFF;
  border-radius: 4px;
  box-shadow:  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}



 .formsection {
  display: flex;
  justify-content: center;
  text-align: center;
}



input[type="text"],
input[type="password"] ,.form-register{
  display: block;
  box-sizing: border-box;
  /* background-color:rgb(199, 199, 201); */
  margin-bottom: 20px;
  padding: 4px;
  width: 15vw;
  height: 40px;
  font-size: 1em;
  transition: 0.5s ease;
}
input .form-control{
  display: block;
  box-sizing: border-box;
  /* background-color:rgb(199, 199, 201); */
  margin-bottom: 20px;
  padding: 4px;
  width: 15vw;
  height: 40px;
  font-size: 1em;
  transition: 0.5s ease;

}

input[type="text"]:focus,
input[type="password"]:focus 
{
 
  transition: 0.2s ease;
}



input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
/**********************inscription form end****************** */

/*******************************connection form start******************/
 .container-connexion{
  position: relative;
  margin: 5% auto;
  width:35vw;
  height: 90vh;
  background: #dfdcdc;
  border-radius: 4px;
   box-shadow:  rgba(50, 50, 80, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; 
 }

.container-connexion h2{
  color: #219EE2;
  padding-top: 2.5em;
}

 .container-resetpass{
  
  height: 60vh;
} 

 
/*******************************connection form end******************/
.pdf{
  text-decoration: none;
  color :#219EE2;
  padding-top: 10px;
}
.youtube{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}
.img-chansons{
  display: flex;
  justify-content: center;
 

}
.img-display-category   {
  height: 50vh;
  width: 30vw;
}
 .container-comments{
 
 display: flex;
flex-direction: column;
 height:70vh ;
  width: 40vw;
  background-color: #d5d2d2;
  border-radius: 7px; 
  position: relative;
  margin: auto;
  margin-bottom: 10em;
 
} 
.container-comment{
  background-color: #ffffff;
  height:15vh ;
  width: 30vw;
  border-radius: 10px;
  padding-top: 30px;
  margin: 20px;
}


/************************responsive***************/
 
 @media only screen and (max-width: 992px){
  .navbar .navbar-inner-list {
    display: none;
  }
  .navbar-inner-list ul li a {
    font-size: small;
  }
  .navbar .navbar-outer-list .toggle-btn {
    display: block;
  }
  .navbar .show {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 9rem;
    left: 0;
    width: 100%;
    height: 70vh;
    z-index: 998;
    display: flex;
    padding: 1rem;
  }
  .navbar .show ul {
    flex-direction: column;
    align-items: center;
  }
  .dropdown-content {
    left: 100%;
    top: 10px;
  }
  

.btn-card .button ,
.btn-abonnez .button,
.container-login .button,
.package a{
  width: 12vw;
  height: 5vh;
  border-top-left-radius: 8px ;
  border-bottom-right-radius: 8px ;
      font-size: 0.5rem;
}


.container-cards h2 {
  font-size: 1.5rem;
}

.row-abonner{
  flex-direction: column;
  
} 
.container-abonner img{
  display: none;
}
.coco{
  display: block!important;
}
.abonner-section{
margin:auto;
}
 }
 @media only screen and (min-width: 993px)and (max-width: 1023px){
  .row-abonner{
    flex-direction: column;
    
  } 
  .container-abonner img{
    display: none;
  }
.coco{
  display:block!important;
}
.abonner-section{
  margin:auto;
  }
.navbar ul li a{
   
  font-size: 1.5rem;
  
 }
 .navbar ul li a img {
  width: 15px;
  margin-right: 0.2rem;
}

.container-login ul li a{
  margin: auto;
}
/* .package{
  height: 50vh;
  width:60% ;
} */

 }

 @media only screen and (min-width: 1024px){
  .coco{
    display: none;
  }
}
 